# Application Configuration
BASE_URL=http://localhost:3000

# User X Credentials
USER_X_EMAIL=userx@example.com
USER_X_PASSWORD=passwordX123

# User Y Credentials
USER_Y_EMAIL=usery@example.com
USER_Y_PASSWORD=passwordY123

# Admin User Credentials (optional)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=adminPass123
